@use '../global' as *;


.modal-book{
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 20;
    overflow: scroll;
    overflow-x: hidden;
    .container{
        .content{
            margin-top: 40rem;
            background: #fff;
            transform: scale(0.5);
            transition: 0.4s all;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 800px;
            .title{
              width: 100%;
              background: $bg-gray;
              color: $text-gray;
              padding: 15px 20px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              h2{
                text-transform: uppercase;
              }
              span{
                cursor: pointer;
                font-size: 22px;
              }
            }
            .message{
              width: 100%;
              background-color: $bg-gray-light;
              padding: 20px 20px;
              h4{
                color: $text-red;
                font-size: 1.4rem;

              }
              p{
                margin-top: 20px;
                font-size: 1.2rem;
              }
            }
            .car-info{
              width: 100%;
              padding: 20px 20px;
              display: flex;
              justify-content: space-between;
              .dates-div{
                .car-info__dates{
                  h5{
                    font-size: 1.4rem;
                    color: $text-red;
                  }
                  span{
                    display: flex;
                    span{
                      margin-top: 32px;
                      font-size: 20px;
                      color: $text-gray-dark;
                    }
                    div{
                      margin-top: 30px;
                      margin-left: 10px;
                      h6{
                        font-size: 1rem;
                      }
                      p{
                        color: $text-gray-dark;
                      }
                    }
                  }
                }
              }
              .model-car{
                h5{
                  font-size: 1.4rem;
                  span{
                    color: $text-red;
                  }
                }
                .car-box{
                  width: 25rem;
                  img{
                    width: 100%;
                  }
                }
              }
            }
            .person-info{
              width: 100%;
              margin-top: 30px;
              h4{
                font-size: 1.4rem;
                color: $text-red;
                padding: 0 20px;
                margin-bottom: 32px;
              }
              .info-form{
                &__2col,&__1col{
                  padding: 0 20px;
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  gap: 2rem;
                  span{
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    label{
                      font-weight: 500;
                      color: $text-red;
                      b{
                        color: red;
                      }
                    }
                    input{
                      border: none;
                      outline: none;
                      font-size: 1rem;
                      color: #d3d3d3;
                      background: $bg-gray-light;
                      padding: .5em 1em;
                      &:focus::placeholder {
                        opacity: 0;
                        transition: opacity .5s;
                       }
                    }
                    p{
                      font-size: 0.8rem;
                      color: $text-gray-dark;
                    }
                  }

                }
                &__1col{
                  grid-template-columns: 1fr !important;
                  margin: 2rem 0;
                }
                &__checkbox{
                  padding: 0 20px;
                  margin: 60px 0;
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  input{
                    width: 20px;
                    height: 20px;
                    accent-color: $text-red;
                  }
                  p{
                    color: $text-gray-dark;
                  }
                }
                .reserve-button{
                  background: $bg-gray-light;
                  padding: 40px 20px;
                  display: flex;
                  justify-content: flex-end;
                  button{
                    background: $bt-g-gold;
                    font-size: 1.8rem;
                    padding: 10px;
                    font-weight: 500;
                  }
                }
              }
            }
        }
        .content-active{
            transform: scale(1);
        }
    }
}
.active{
    opacity: 1;
    pointer-events: all;
}


@media (max-width: $breakpoint_md) {
.modal-book{
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  .container{
    padding: 0 0;
    .content{
      margin-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      .car-info{
        .dates-div{
          width: 250px;
        }
        .model-car{
          .car-box{
            max-width: 20rem;
          }
        }
      }
    }
  }
}
}

@media (max-width: $breakpoint_sm) {
  .modal-book{
    .container{
      .content{
        .title{
          h2{
            font-size: 1.2rem;
          }
        }
        .car-info{
          flex-direction: column;
          gap: 2rem;
        }
        .person-info{
          .info-form{
            &__2col,&__1col{
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
  }

