@use '../global' as *;

.plan-trip{
    background: $bg-gray-light;
    position: relative;
    .conatiner{
        .content{
            padding-bottom: 10rem;
            .plan-trip__box{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3{
                    font-size: 1.7rem;
                    margin-bottom: 1rem;
                    z-index: 5;
                }
                h1{
                    font-size: 3rem;
                    z-index: 5;
                }
                .plan-trip__content{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    margin-top: 3.7rem;
                    grid-gap: 4rem;
                    z-index: 5;
                    .trip-card{
                       text-align: center;
                        .icon-box{
                            background: $bt-g-gray;
                            font-size: 2.5rem;
                            margin: 0 5rem;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            transform: skew(-10deg);
                            background: $bt-g-gray;
                            .trip-icon{
                                transform: skew(+10deg);
                                font-family: $text-font;
                                color: $text-gray;
                            }

                        }
                        &:nth-child(2){
                            .icon-box{
                                background: $bt-g-red;
                            }
                            
                        }
                        h3{
                            padding-top: 1rem;
                        }
                        p{
                            max-width: 20rem;
                            color: $text-gray-dark;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: $breakpoint_xl) {
    .plan-trip{
        .conatiner{
            .content{
                .plan-trip__box{
                    .plan-trip__content{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint_md) {
    .plan-trip{
        .conatiner{
            .content{
                .plan-trip__box{
                    h3{
                        font-size: 1rem;
                    }
                    h1{
                        font-size: 2.2rem;
                        text-align: center;
                    }
                    .plan-trip__content{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto;
                    }
                }
            }
        }
    }
}